In [ ]:
#write a program to print the largest and the smallest number of a list
#write a program to delete the alternative numbers in  a list
#write a program to delete the odd numbers in a list and print the even numbers

**program to print the largest and the smallest number of a list**

In [3]:
mylist=[2,8,7,6,30]
mylist.sort()
print(mylist)

[2, 6, 7, 8, 30]

In [5]:
print("the smallest number is:",mylist[0])
print("the largest number is:",mylist[-1])

the smallest number is: 2
the largest number is: 30

**program to delete the alternative numbers in  a list**

In [9]:
mylist=["task","sequence","public","details",63464,True,69.69]
del mylist[-7:5:2]
print(mylist)

['sequence', 'details', True, 69.69]

**program to delete the odd numbers in a list and print the even numbers**

In [32]:
mylist=[2,3,10,21]
for x in mylist:
   if x %2!=0:
      mylist.remove(x)
print("the list after removing all the odd numbers:",mylist)

the list after removing all the odd numbers: [2, 10]